* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 1440px;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
  background-color: hsl(221, 100%, 96%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 2rem;
}

#container {
  display: grid;
  border-radius: 20px;
  background-color: white;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  max-width: 650px;
  box-shadow: rgba(200, 199, 255, 0.8) 0px 50px 100px -10px;
}

h1 {
  font-size: 28px;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

/* Result part */

#result__global {
  background: linear-gradient(#7857ff, #2e2be9);
  color: rgb(200, 199, 255);
  border-radius: 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#result__global span {
  color: white;
}

#result__circle {
  width: 170px;
  height: 170px;
  border-radius: 1000px;
  background: linear-gradient(#4e21ca, rgba(36, 33, 202, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

#greating {
  width: 85%;
}

#greating h1 {
  color: white;
  margin-bottom: 15px;
}

#result__circle > span {
  font-size: 55px;
  font-weight: 800;
}

/* Summary part  */

#result__summary {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#result__summary h2 {
  margin-bottom: 10px;
}

#category__container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.category {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 14px;
  border-radius: 10px;
}

.category h3 {
  font-weight: 500;
  font-size: 16px;
}

.category__img {
  height: 18px;
  margin-right: 10px;
}

.score {
  position: absolute;
  right: 15px;
}

.score span {
  color: black;
}

.score p {
  color: #a39ea1;
}

#reaction {
  color: rgba(255, 87, 87);
  background-color: rgba(255, 87, 87, 0.07);
}

#memory {
  color: rgb(255, 176, 31);
  background-color: rgb(255, 176, 31, 0.07);
}

#verbal {
  color: rgb(0, 189, 145);
  background-color: rgb(0, 189, 145, 0.07);
}

#visual {
  color: rgb(17, 37, 212);
  background-color: rgb(17, 37, 212, 0.07);
}

#btn__next {
  color: white;
  font-size: 15px;
  background-color: rgb(48, 59, 90);
  padding: 16px 20px;
  border: none;
  border-radius: 25px;
  display: block;
  margin: 22px auto 5px auto;
  width: 100%;
}

#btn__next:hover {
  cursor: pointer;
  color: white;
  background: linear-gradient(#7857ff, #2e2be9);
  transition: all 0.3s ease-in-out;
}

/* Visible corners */

.corner {
  position: absolute;
}

.category .corner {
  background: none;
  height: 10px;
  width: 10px;
}

#top-left {
  top: 0;
  left: 0;
  border-radius: 10px 0 0 0;
  border-top: 0.5px solid rgba(163, 158, 161, 0.3);
  border-left: 0.5px solid rgba(163, 158, 161, 0.3);
}
#top-right {
  top: 0;
  right: 0;
  border-radius: 0 10px 0 0;
  border-top: 0.5px solid rgba(163, 158, 161, 0.3);
  border-right: 0.5px solid rgba(163, 158, 161, 0.3);
}
#bottom-right {
  bottom: 0;
  right: 0;
  border-radius: 0 0 10px 0;
  border-bottom: 0.5px solid rgba(163, 158, 161, 0.3);
  border-right: 0.5px solid rgba(163, 158, 161, 0.3);
}
#bottom-left {
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 10px;
  border-bottom: 0.5px solid rgba(163, 158, 161, 0.3);
  border-left: 0.5px solid rgba(163, 158, 161, 0.3);
}
.content {
  display: flex;
}

/* Attribution */

.attribution {
  text-align: center;
  font-size: 11px;
  margin-bottom: 5px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 767px) {
  main {
    height: unset;
  }

  #container {
    grid-template-columns: 1fr;
    max-width: 300px;
    transform: none;
  }

  h1 {
    font-size: 22px;
    font-weight: 500;
  }

  h2 {
    font-size: 16px;
    font-weight: 500;
  }

  #result__global {
    padding: 20px 30px 30px 30px;
    border-radius: 0px 0px 25px 25px;
  }

  #result__circle {
    width: 120px;
    height: 120px;
    margin: 20px auto;
  }

  #result__circle > span {
    font-size: 45px;
    font-weight: 800;
  }

  p {
    font-size: 13px;
  }

  #greating {
    width: 90%;
  }

  #greating h1 {
    color: white;
    margin-bottom: 5px;
  }

  #result__summary {
    padding: 20px 25px 25px 25px;
    gap: 10px;
  }

  #category__container {
    gap: 12px;
  }

  .category {
    padding: 12px;
  }

  .category h3 {
    font-size: 14px;
  }

  .category__img {
    height: 16px;
  }

  #btn__next {
    padding: 14px 18px;
    margin: 12px auto 5px auto;
  }
}
